@page "/"

<PageTitle>Index</PageTitle>

<div class="pt-6 w-50 text-center space-y-4">
    <blockquote>
      <p class="text-lg font-medium">
        “Kitten Factory will let you create a digital army of cats to do your evil bidding across the internet. This application implements NLayer architect and domain driven design. You will find Application, Core, Infrastructure and Web layers. It will run out of the box using an in memory database so no config should be needed. This application is pretty bare bones, and currently has no testing. The application has tried to adhere to the SOLID principles as much as possible. If there were a real application the front end would receive a bit more love making use of components for things like buttons and form fields as there is currently some code duplication and tech-debt there. ”
      </p>
    </blockquote>
    <figcaption class="font-medium">
      <div class="text-sky-500 dark:text-sky-400">
        Sam Foust
      </div>
    </figcaption>
  </div>
